* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #e4d2c7;
    background:linear-gradient(to right,#e2e2e2,#eccbb7);
}
.container{
    background:#fff;
    width:450px;
    padding:90px;
    margin:60px auto;
    border-radius:10px;
    box-shadow:0 20px 35px #ad8e7c;
}
form{
    margin:0 2rem;
}
.form-title{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    padding:20px;
    margin-bottom:0.4rem;
    color:#7c533f
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #cc987d;
    padding-left:1.5rem;
    font-size:20px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:#eccbb7;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid #cc987d;
}
input::placeholder{
    color:transparent;
}
label{
    color:#cc987d;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:#eccbb7;
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:#cc987d;
}
.recover a:hover{
    color:#eccbb7;
    text-decoration:underline;
}
button{
    font-size:1.1rem;
    padding:10px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:110%;
    background:#cc987d;
    color:white;
    cursor:pointer;
    transition:0.9s;
}
button:hover{
    background:#eccbb7;
}
.or{
    margin-top:1.5rem;
    
}
.icons{
    text-align:center;
    margin-bottom:20px;
}
.icons i{
    color:#6d3516;
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 50px;
    transition:1s;
}
.icons i:hover{
    background:#eccbb7;
    font-size:1.6rem;
    border:2px solid #eccbb7;
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
 #signUpButton, #signInButton{
    color:#cc987d;
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
#signUpButton:hover, #signInButton:hover {
    text-decoration:underline;
    color:#eccbb7;
} 
.messageDiv{
    background-color:#eccbb7;
    color:white;
    padding:10px 20px;
    margin:0px;
    border-radius: 5px;
    font-size:1rem;
    opacity:0;
    animation:fadeOut 7s forwards;

}